     .border {
         border-radius: 0px 0px 5% 5%;
         border-bottom: 2px solid rgb(156, 156, 156);
     }

     * {
         font-family: "Helvetica, Arial, Verdana, Geneva, Tahoma, sans-serif";
         transition: all 0.4s;
         font-size: 18px;
     }

     body {
         margin-left: auto;
         margin-right: auto;
         border-left: 1px solid rgb(95, 83, 83);
         border-right: 1px solid rgb(95, 83, 83);
         padding: 1px;
         min-height: 100vh;
         max-width: 768px;
     }

     .content {
         display: flex;
         flex-direction: column;
         margin-left: 2%;
         margin-right: 2%;
     }

     .company_name {
         display: flex;
         flex-direction: row;
     }

     .company_information {
         display: flex;
         height: auto;
         font-size: 18px;
         padding-bottom: 10px;
         padding-left: 1%;
     }

     .information {
         display: block;
         width: 70%;
         height: auto;
         padding-left: 10px;
     }

     .contacts {
         height: auto;
         padding-right: 15px;
         font-size: 150%;
     }

     .contacts div {
         display: inline-block;
         height: auto;
         padding-left: 10px;
         margin-bottom: 5%;
     }

     .logo {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 30%;
         height: auto;
         max-height: 200px;
         flex: 3;
     }

     .action_type {
         display: flex;
         justify-content: space-between;
     }

     .logo img {
         max-width: 200px;
         max-height: 200px;
     }

     .phoneNumber {
         color: grey;
     }

     .payment {
         position: relative;
     }

     a {
         color: rgb(77, 77, 252);
     }

     a:link,
     a:visited {
         color: rgb(77, 77, 252);
     }

     button {
         border: 0px;
         background: inherit;
         color: rgb(77, 77, 252);
     }

     button:hover {
         color: black;
         background-color: rgb(190, 246, 247);
     }

     .action_type_button {
         font-weight: bold;
         font-size: 100%;
         margin-top: 1%;
         margin-right: 10%;
         padding-left: 10%;
     }

     .payment_type_button {
         font-size: 15px;
         margin: 5%;
     }

     .payment_information {
         margin: 3%;
         display: flex;
         flex-direction: row;
     }

     .card {
         background-color: rgb(190, 246, 247);
         box-shadow: 3px 5px 39px -6px rgba(138, 138, 138, 1);
         min-width: 20%;
         width: 276px;
         height: 170px;
         max-width: 300px;
         border-radius: 20px;
         padding: 2% 5% 2% 5%;
         display: flex;
         flex-direction: column;
         justify-content: space-around;
     }

     .payImg {
         width: 40%;
         margin-left: 60%;
     }

     .card input {
         background-color: inherit;
         border: 0px;
         border-bottom: 1px solid grey;
     }

     .card_wrapper {
         display: flex;
         justify-content: space-between;
     }

     .card_wrapper input {
         text-align: center;
         width: 30%;
         max-width: 70px;
         margin-right: 20%;
     }

     .payinfo {
         margin-left: 5%;
         display: flex;
         flex-direction: column;
         justify-content: space-around;
     }

     .pay_button {
         margin-left: 0px;
         height: 40px;
         background-image: url(images/pay_batton_background.png);
         border: 1px solid gray;
     }

     .info {
         display: flex;
         justify-content: space-between;
         margin: 4%;
         font-weight: bold;
         width: 100%;
         margin-top: 0%;
     }

     .info span {
         justify-content: flex-end;
     }

     .info span {
         width: 80%;
     }

     .info input {
         width: 100%;
         margin-left: 10%;
         margin-right: 10%;
         border: 0px;
         border-bottom: 1px solid grey;
     }

     .сompany_services {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         border-bottom: uns
     }

     .services {
         display: flex;
         justify-content: space-between;
     }

     .services div {
         border: 1px solid lightgray;
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         width: 30%;
         text-align: center;
     }

     .bold {
         font-weight: bold;
     }

     .curse {
         font-style: italic;
     }

     .services img {
         padding: 5% 15% 5% 15%;
         width: 70%;
         height: auto;
     }

     .services span {
         margin-top: 5%;
     }

     .text {
         margin-bottom: 0px;
     }

     .full_text_button {
         margin-top: 0;
         margin-bottom: 3%;
     }

     .full_text_button:hover {
         background-color: inherit;
     }

     ul {
         list-style-type: none;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
     }

     ul li {
         margin-right: 15px;
     }

     ul li a {
         display: flex;
         width: 38px;
         height: 38px;
         /* margin-bottom: 20px; */
     }

     .facebook {
         background-image: url('images/social_icons.png');
         background-position: -106px 0px;
         background-size: 300px;
     }

     .twitter {
         background-image: url('images/social_icons.png');
         background-position: -158px 0px;
         background-size: 300px;
     }

     .vk {
         background-image: url('images/social_icons.png');
         background-position: -158pxpx 0px;
         background-size: 300px;
     }

     .google {
         background-image: url('images/social_icons.png');
         background-position: -210px -0px;
         background-size: 300px;
     }

     .telegram {
         background-image: url('images/social_icons.png');
         background-position: -106px -157px;
         background-size: 300px;
     }

     .social:hover {
         box-shadow: inset 9px 10px 0px 200px rgba(230, 230, 230, 0.49);
     }

     @media screen and (min-width: 0px) and (max-width: 445px) {
         .payment_information {
             flex-direction: column;
         }
         .information {
             width: 100%;
             display: block;
             height: auto;
             padding-left: 7%;
         }
         .action_type_button {
             margin-right: 0%;
             padding-left: 10%;
         }
         .payinfo {
             margin-left: 1%;
             margin-right: 1%;
             margin-top: 5%;
         }
         .payImg {
             width: 40%;
             margin-left: 60%;
         }
         .info {
             width: 90%;
             margin-top: 2%;
         }
         .card {
             margin-left: auto;
             margin-right: auto;
             height: 180px;
         }
         .contacts {
             display: flex;
             flex-direction: column;
             height: auto;
             padding-right: 15px;
             font-size: 150%;
         }
         .company_information {
             display: block;
             height: auto;
             font-size: 18px;
             padding-bottom: 10px;
             padding-left: 1%;
         }
         .services span {
             /* font-size: 80%;
            margin-top: 5%; */
         }
         .logo {
             width: 100%;
             height: auto;
             max-height: 200px;
         }
     }

     @media screen and (min-width:0px) and (max-width: 517px) {
         .payment_type {
             display: flex;
             flex-direction: column;
         }
         .services {
             flex-direction: column;
         }
         .services div {
             width: 100%;
         }
     }

     @media screen and (min-width:446px) and (max-width: 650px) {
         .payment_information {
             flex-direction: column;
         }
         form {
             align-items: center;
         }
         .card {
             height: 180px;
             margin-right: 20%;
             margin-left: 20%;
         }
         .payinfo {
             margin-left: 1%;
             margin-right: 1%;
             margin-top: 5%;
         }
         .info {
             width: 80%;
             margin-top: 2%;
         }
         .contacts {
             display: flex;
             flex-direction: column;
             padding-right: 15px;
         }
     }

     @media screen and (min-width:0px) and (max-width:768px) {
         body {
             border-left: 0px;
             border-right: 0px;
         }
     }